In [4]:
import os 
from glob import glob
import pandas as pd
from functools import reduce 
from xml.etree import ElementTree as et

In [5]:
xml_list= glob('./IMAGES/*.xml')

In [6]:
xmlfiles=glob('./IMAGES/*.xml')
replace_text=lambda x:x.replace('\\','/')
xmlfiles=list(map(replace_text,xmlfiles))

In [7]:
xmlfiles

['./IMAGES/back0.xml',
 './IMAGES/back10.xml',
 './IMAGES/back11.xml',
 './IMAGES/back12.xml',
 './IMAGES/back13.xml',
 './IMAGES/back14.xml',
 './IMAGES/back15.xml',
 './IMAGES/back2.xml',
 './IMAGES/back4.xml',
 './IMAGES/back41.xml',
 './IMAGES/back42.xml',
 './IMAGES/back43.xml',
 './IMAGES/back44.xml',
 './IMAGES/back45.xml',
 './IMAGES/back46.xml',
 './IMAGES/back47.xml',
 './IMAGES/back48.xml',
 './IMAGES/back49.xml',
 './IMAGES/back50.xml',
 './IMAGES/back51.xml',
 './IMAGES/back52.xml',
 './IMAGES/back53.xml',
 './IMAGES/back54.xml',
 './IMAGES/back55.xml',
 './IMAGES/back6.xml',
 './IMAGES/back7.xml',
 './IMAGES/back8.xml',
 './IMAGES/back9.xml',
 './IMAGES/cat.0.xml',
 './IMAGES/cat.1.xml',
 './IMAGES/cat.10.xml',
 './IMAGES/cat.11.xml',
 './IMAGES/cat.12.xml',
 './IMAGES/cat.13.xml',
 './IMAGES/cat.14.xml',
 './IMAGES/cat.15.xml',
 './IMAGES/cat.16.xml',
 './IMAGES/cat.17.xml',
 './IMAGES/cat.18.xml',
 './IMAGES/cat.20.xml',
 './IMAGES/cat.21.xml',
 './IMAGES/cat.22.xml',
 './IMAGES/cat.25.xml',
 './IMAGES/cat.27.xml',
 './IMAGES/cat.28.xml',
 './IMAGES/cat.29.xml',
 './IMAGES/cat.3.xml',
 './IMAGES/cat.30.xml',
 './IMAGES/cat.31.xml',
 './IMAGES/cat.32.xml',
 './IMAGES/cat.33.xml',
 './IMAGES/cat.34.xml',
 './IMAGES/cat.35.xml',
 './IMAGES/cat.4.xml',
 './IMAGES/cat.7.xml',
 './IMAGES/cat.8.xml',
 './IMAGES/cat.9.xml']

In [8]:
def extract_text(filename):
    tree = et.parse(filename)
    root = tree.getroot()

    # extract filename
    image_name = root.find('filename').text
    # width and height of the image
    width = root.find('size').find('width').text
    height = root.find('size').find('height').text
    objs = root.findall('object')
    parser = []
    for obj in objs:
        name = obj.find('name').text
        bndbox = obj.find('bndbox')
        xmin = bndbox.find('xmin').text
        xmax = bndbox.find('xmax').text
        ymin = bndbox.find('ymin').text
        ymax = bndbox.find('ymax').text
        parser.append([image_name, width, height, name,xmin,xmax,ymin,ymax])        
    return parser

In [9]:
parser_all = list(map(extract_text,xmlfiles))

In [10]:
data = reduce(lambda x, y : x+y,parser_all)

In [11]:
df = pd.DataFrame(data,columns = ['filename','width','height','name','xmin','xmax','ymin','ymax'])

In [12]:
df.head()

     filename width height name xmin xmax ymin ymax
0   back0.jpg   224    224  car   16  169   53  191
1  back10.jpg   224    224  car   16  176   49  181
2  back11.jpg   224    224  car    8  189   29  188
3  back12.jpg   224    224  car   20  196   50  191
4  back13.jpg   224    224  car    6  221   37  224

In [13]:
df.shape

(60, 8)

In [14]:
df['name'].value_counts()

cat    31
car    29
Name: name, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  60 non-null     object
 1   width     60 non-null     object
 2   height    60 non-null     object
 3   name      60 non-null     object
 4   xmin      60 non-null     object
 5   xmax      60 non-null     object
 6   ymin      60 non-null     object
 7   ymax      60 non-null     object
dtypes: object(8)
memory usage: 3.9+ KB

In [16]:
cols = ['width','height','xmin','xmax','ymin','ymax']
df[cols] = df[cols].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  60 non-null     object
 1   width     60 non-null     int32
 2   height    60 non-null     int32
 3   name      60 non-null     object
 4   xmin      60 non-null     int32
 5   xmax      60 non-null     int32
 6   ymin      60 non-null     int32
 7   ymax      60 non-null     int32
dtypes: int32(6), object(2)
memory usage: 2.5+ KB

In [17]:
# center x, center y
df['center_x'] = ((df['xmax']+df['xmin'])/2)/df['width']
df['center_y'] = ((df['ymax']+df['ymin'])/2)/df['height']
# w 
df['w'] = (df['xmax']-df['xmin'])/df['width']
# h 
df['h'] = (df['ymax']-df['ymin'])/df['height']

In [18]:
df.head()

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h
0,back0.jpg,224,224,car,16,169,53,191,0.412946,0.544643,0.683036,0.616071
1,back10.jpg,224,224,car,16,176,49,181,0.428571,0.513393,0.714286,0.589286
2,back11.jpg,224,224,car,8,189,29,188,0.439732,0.484375,0.808036,0.709821
3,back12.jpg,224,224,car,20,196,50,191,0.482143,0.537946,0.785714,0.629464
4,back13.jpg,224,224,car,6,221,37,224,0.506696,0.582589,0.959821,0.834821

In [19]:
images = df['filename'].unique()

In [20]:
len(images)

57

In [21]:
# 80% train and 20% test
img_df = pd.DataFrame(images,columns=['filename'])
img_train = tuple(img_df.sample(frac=0.8)['filename']) # shuffle and pick 80% of images

In [22]:
img_test = tuple(img_df.query(f'filename not in {img_train}')['filename']) # take rest 20% images

In [23]:
len(img_train), len(img_test)

(46, 11)

In [24]:
train_df = df.query(f'filename in {img_train}')
test_df = df.query(f'filename in {img_test}')

In [25]:
train_df.head()

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h
0,back0.jpg,224,224,car,16,169,53,191,0.412946,0.544643,0.683036,0.616071
1,back10.jpg,224,224,car,16,176,49,181,0.428571,0.513393,0.714286,0.589286
2,back11.jpg,224,224,car,8,189,29,188,0.439732,0.484375,0.808036,0.709821
3,back12.jpg,224,224,car,20,196,50,191,0.482143,0.537946,0.785714,0.629464
5,back14.jpg,224,224,car,64,172,98,200,0.526786,0.665179,0.482143,0.455357

In [26]:
test_df.head()

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h
4,back13.jpg,224,224,car,6,221,37,224,0.506696,0.582589,0.959821,0.834821
6,back15.jpg,224,224,car,17,184,33,179,0.448661,0.473214,0.745536,0.651786
9,back41.jpg,224,224,car,19,216,18,204,0.524554,0.495536,0.879464,0.830357
11,back43.jpg,224,224,car,19,220,43,198,0.533482,0.537946,0.897321,0.691964
15,back47.jpg,224,224,car,17,204,20,178,0.493304,0.441964,0.834821,0.705357

In [37]:
def label_encoding(x):
    labels = { 'car':0, 'cat':1}
    return labels[x]

In [28]:
train_df['id'] = train_df['name'].apply(label_encoding)
test_df['id'] = test_df['name'].apply(label_encoding)

C:\Users\darsh\AppData\Local\Temp/ipykernel_18836/3116627190.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['id'] = train_df['name'].apply(label_encoding)
C:\Users\darsh\AppData\Local\Temp/ipykernel_18836/3116627190.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['id'] = test_df['name'].apply(label_encoding)

In [29]:
train_df.head(10)

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h,id
0,back0.jpg,224,224,car,16,169,53,191,0.412946,0.544643,0.683036,0.616071,1
1,back10.jpg,224,224,car,16,176,49,181,0.428571,0.513393,0.714286,0.589286,1
2,back11.jpg,224,224,car,8,189,29,188,0.439732,0.484375,0.808036,0.709821,1
3,back12.jpg,224,224,car,20,196,50,191,0.482143,0.537946,0.785714,0.629464,1
5,back14.jpg,224,224,car,64,172,98,200,0.526786,0.665179,0.482143,0.455357,1
7,back2.jpg,224,224,car,12,196,46,190,0.464286,0.526786,0.821429,0.642857,1
8,back4.jpg,224,224,car,20,156,94,190,0.392857,0.633929,0.607143,0.428571,1
10,back42.jpg,224,224,car,13,211,25,182,0.500000,0.462054,0.883929,0.700893,1
12,back44.jpg,224,224,car,9,211,35,204,0.491071,0.533482,0.901786,0.754464,1
13,back45.jpg,224,224,car,4,221,32,195,0.502232,0.506696,0.968750,0.727679,1

In [30]:
import os
from shutil import move

In [31]:
train_folder = 'IMAGES/train'
test_folder = 'IMAGES/test'


os.mkdir(train_folder)
os.mkdir(test_folder)

In [32]:
cols = ['filename','id','center_x','center_y', 'w', 'h']
groupby_obj_train = train_df[cols].groupby('filename')
groupby_obj_test = test_df[cols].groupby('filename')

In [33]:
#groupby_obj_train.get_group('000009.jpg').set_index('filename').to_csv('sample.txt',index=False,header=False)
# save each image in train/test folder and repective labels in .txt
def save_data(filename, folder_path, group_obj):
    # move image
    src = os.path.join('IMAGES',filename)
    dst = os.path.join(folder_path,filename)
    move(src,dst) # move image to the destination folder
    
    # save the labels
    text_filename = os.path.join(folder_path,
                                 os.path.splitext(filename)[0]+'.txt')
    group_obj.get_group(filename).set_index('filename').to_csv(text_filename,sep=' ',index=False,header=False)

In [34]:
filename_series = pd.Series(groupby_obj_train.groups.keys())

In [35]:
filename_series.apply(save_data,args=(train_folder,groupby_obj_train))

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
43    None
44    None
45    None
dtype: object

In [36]:
filename_series_test = pd.Series(groupby_obj_test.groups.keys())
filename_series_test.apply(save_data,args=(test_folder,groupby_obj_test))

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
dtype: object